<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Image To Text</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img1.png" type="image/png">
    <link rel="stylesheet" href="newfile.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="container">
            <a href="/">
                <h1 id="heading-of-container">OCR In Image
            </a>
        </div>
    </nav>
    <div class="store-result container">
        <div class="message">Your Final Result</div>
        <div class="res">
            <%= result %>
        </div>
        <div class="btn">
            <button><a href="/">Back</a></button>
        </div>
    </div>
    <p class="copyright">&copy;singhkunal01</p>
</body>

</html>